.form {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 7px;
    padding: 25px;
    min-width: 600px;
    gap: 20px;
    margin: 5px auto;
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid rgb(220, 220, 220);
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.03),
        0 8px 24px rgba(0, 0, 0, 0.06);
}

@media (min-width: 1600px) {
  .form {
    min-width: 750px;
  }
}

.title {
    user-select: none;
    font-size: 28px;
    font-weight: 600;
    color: rgb(68, 68, 68);
}

.form > div {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 16px;
    color: rgb(68, 68, 68);
    font-weight: 600;
    user-select: none;
}

.company-input, .role-input {
    margin-top: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    padding-left: 15px;
    font-size: 14px;
    color: rgb(68, 68, 68);
}

.company-input:focus, .role-input:focus {
    outline: none;
    border-color: rgb(102, 148, 248);
}

.date-input {
    margin-top: 5px;
    height: 45px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: rgb(68, 68, 68);
}

.date-input:focus {
    outline: none;
    border-color: rgb(102, 148, 248);
}

.notes-input {
    margin-top: 5px;
    width: 100%;
    height: 140px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    color: rgb(68, 68, 68);
    padding: 10px 15px 10px 15px;
    font-size: 14px;
    box-sizing: border-box;
    resize: vertical;
}

.notes-input {
    outline: none;
    border-color: rgb(102, 148, 248);
}

.jobform-btns {
    display: flex;
    flex-direction: row !important;
    justify-content: end;
    gap: 10px;
}

.submit-btn {
    background: rgb(102, 148, 248);
    color: white;
    border: none;
}

.submit-btn:hover {
    filter: brightness(0.9);
}

.submit-btn:focus {
    outline: none;
    border-color: rgb(102, 148, 248);
}

.delete-btn {
    border: 1px solid rgb(224, 224, 224);
    color: rgb(197, 0, 0);
}

.delete-btn:hover {
    filter: brightness(0.9);
    border-color: rgb(224, 224, 224);
    outline: none;
}

.delete-btn:focus {
    outline: none;
    border-color: rgb(102, 148, 248);
}

.divider-jobform {
    width: 100%;
    border: none;
    height: 1px;
    background: #e5e7eb;
    flex-shrink: 0;
}

.date-status-container {
    display: flex;
    flex-direction: row !important;
    gap: 40px
}

.date-status-container div {
    width: 100%;
    gap: 50px;
}

.status-select {
    margin-top: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
    color: rgb(68, 68, 68);
    background: white;
}

.status-select:focus {
    outline: none;
    border-color: rgb(102, 148, 248);
}