.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    height: 100vh;
    background: rgb(28, 28, 35);
}

.register-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.register-form-container {
  flex: 1.5;
  background: rgb(34, 34, 42);
  padding: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form h2 {
    color: white;
    font-size: 28px;
    margin: 0;
}

.register-form label {
    color: rgb(180, 180, 200);
    margin-bottom: 5px;
    margin-top: 25px;
    font-weight: 500;
}

.register-form input {
    color: white;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    font-size: 16x;
    padding: 0 55px 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.register-form input:focus {
    border: 1px solid rgb(102, 148, 248);
    outline: none;
}

.register-btn {
    background: rgb(102, 148, 248);
    height: 48px;
    margin-top: 25px;
    color: white;
    font-size: 18px;
}

.register-btn:focus {
    outline: none;
}

.accountinfo {
    color: rgb(120, 120, 140);
    text-align: center;
    margin-top: 25px;
}

.register-password-input {
    position: relative;
}

.register-password-input span {
    position: absolute;
    right: 18px;
    top: 30%;
    cursor: pointer;
    color: white;
}